<html>
  <head>
    <title>{% block title %}API for example.com{% endblock %}</title>
    <style type="text/css">
      * { margin: 0; padding: 0; }
      body { background-color: #DDDDDD; font-family: Georgia, Times New Roman, sans-serif; text-align: center; }
      #page_wrapper { margin: 0 auto; text-align: left; width: 800px; }
    </style>
  </head>
  <body>
    <div id="page_wrapper">
      <h1>API for example.com</h1>

      <section class="resources_nav">
        {% block resources_nav %}
        <ul>
          {% for resource in resources_nav_items %}
            <li><a href="{# % url api_resource_list % #}">{{ resource }}</a></li>
          {% endfor %}
        </ul>
        {% endblock %}
      </section>

      <section class="content">
        {% block content %}{% endblock %}
      </section>
    </div>
  </body>
</html>